//Color
$white : #ffffff;
$black : #000000;

$primary-color : #34CAA5;
$secondary-color : #26282C;
$dark-grey : #26282C;
$text-grey : #787486;
$grey-bg : #FAFAFA;
$sidebar-bg : #F7F8FA;
$grey-bg-dark : #DADDDD;
$dashboard-cards-border : #EDF2F7;
$filter-label-text : #3A3F51;
$selected-filter-border : #e1dfdf;
$kpi-icon-border : #E6E6E6;
$kpi-text : #898989;
$past-performance-text : #606060;
$table-header-text : #9CA4AB;
$table-header-border : #EDF2F6;
$table-dark-text : #3A3F51;
$table-light-text : #737373;
$platform-indicator-bg : #F5F5F5;
$chart-indicator-text : #525252;

$success-color : #34CAA5;
$failed-color : #ED544E;

$purple : #6160DC;
$blue : #54C5EB;
$orange : #FFB74A;
$red : #FF4A55;

//Shadow
$boxShadow : 0rem .625rem 1.25rem rgba(0, 0, 0, 0.5);

//Font Size
$font-size-102 : 6.375rem;
$font-size-80 : 5rem;
$font-size-70 : 4.375rem;
$font-size-60 : 3.75rem;
$font-size-50 : 3.125rem;
$font-size-40 : 2.5rem;
$font-size-35 : 2.188rem;
$font-size-30 : 1.875rem;
$font-size-24 : 1.5rem;
$font-size-20 : 1.25rem;
$font-size-18 : 1.125rem;
$font-size-16 : 1rem;

//Font weight
$fontWeight-100 : 100;
$fontWeight-200 : 200;
$fontWeight-300 : 300;
$fontWeight-400 : 400;
$fontWeight-500 : 500;
$fontWeight-600 : 600;
$fontWeight-700 : 700;
$fontWeight-800 : 800;
$fontWeight-900 : 900;