@import "./variables";
@import "./reusables";

.mNavbarContainer {
    background-color: var(--grey-bg);
    padding: .625rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        width: 2.125rem;
        height: 2.125rem;
        display: grid;
        place-items: center;
        // border: 1px solid darken($color: var(--grey-bg), $amount: 15%);
        border: 1px solid var(--gray-bg);
        border-radius: 2.125rem;
        cursor: pointer;
        &:hover {
            // background-color: darken($color: var(--grey-bg), $amount: 0.5%);
            background-color: var(--grey-bg);
            opacity: 0.6;
        }

        svg {
            width: 1rem;
            height: 1rem;
        }
    }
    .logoIcon {
        border: none;
        pointer-events: none;
        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.navbarContainer {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey-bg);
    color: var(--dark-grey);

    h2 {
        font-size: $font-size-20;
        font-style: normal;
        font-weight: $fontWeight-600;
        line-height: $font-size-24 + 0.25rem;
    }

    .rhsSection {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .searchInputContainer {
            display: inline-flex;
            align-items: center;
            width: clamp(200px, 280px, 300px);
            position: relative;

            svg {
                z-index: 2;
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }
            input {
                padding: 0.75rem 2.625rem;
                border: 1px solid var(--grey-bg-dark);
                background-color: var(--grey-bg);
                color: var(--black);
                border-radius: 1.5rem;
                width: 100%;
                height: 48px;
                outline: none;
                &::placeholder {
                    font-size: $font-size-16 - 0.1875rem;
                    font-style: normal;
                    font-weight: $fontWeight-200 - 100;
                    color: var(--dark-grey);
                }
                &:focus {
                    border: 1px solid var(--dark-grey);
                }
            }
        }
        svg {
            width: 1.125rem;
            height: 1.125rem;
        }
        .dateSection {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: $fontWeight-500;
            font-size: $font-size-16 - 0.125rem;
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
        }
        .notificationIcon {
            padding: 0.6875rem;
            border: 0.0481rem solid var(--grey-bg-dark);
            display: inline-flex;
            border-radius: 100%;
            cursor: pointer;
            &:hover {
                background-color: rgba($color: var(--grey-bg-dark), $alpha: 0.4);
                opacity: 0.6;
            }
        }
        .profileSection {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem;
            cursor: pointer;
            border: 1px solid var(--grey-bg-dark);
            border-radius: 3rem;
            display: flex;
            align-items: center;

            &:hover {
                opacity: 0.8;
                background-color: rgba($color: var(--grey-bg-dark), $alpha: 0.4);
            }
            .profileImage {
                width: 2.375rem;
                height: 2.375rem;
                border-radius: 100%;
                position: relative;
                overflow: hidden;
            }
            .userInfo {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                h5,
                p {
                    font-size: $font-size-16 - 0.125rem;
                    font-weight: $fontWeight-300;
                    color: var(--dark-grey);
                }
                p {
                    color: var(--text-grey);
                }
            }
            .profileName {
                font-weight: $fontWeight-500;
                font-size: $font-size-16 - 0.125rem;
            }
        }
    }
}
