@import "./variables";
@import "./reusables";

.sidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;    
    // justify-content: space-between;
    gap: 1.25rem;
    position: fixed;
    left: 0;
    top: 0;
    // border: 1px solid #000;
    height: 100%;
    width: 5rem;
    padding-top: 1.25rem;
    background-color: var(--sidebar-bg);

    .logo {
        width: 2.5rem;
        height: 2.5rem;
        display: inline-flex;
        svg {
            width: 100%;
            height: 100%;
        }
    }

    .topMenu, .bottomMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: .5rem;

        span {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            padding: .375rem 0;
            cursor: pointer;
            position: relative;
            &::after {
                content: '';
                background-color: transparent;
                position: absolute;
                right: 0%;
                top: 50%;
                transform: translate(0%, -50%);
                width: .35rem;
                height: 80%;
                z-index: -1;
                border-radius: .25rem 0 0 .25rem;
            }
            &:hover {
                &::after {
                    background-color: rgba($color: var(--dark-grey), $alpha: 0.2);
                }
                svg {
                    path {
                        stroke: var(--dark-grey);
                    }
                }
            }
        }
        .active {
            pointer-events: none;
            &::after {
                background-color: var(--dark-grey);
            }
            svg {
                path {
                    stroke: var(--dark-grey);
                }
            }
        }

        .lightSetting {
            display: flex;
            flex-direction: column;
            background-color: var(--white);
            gap: .125rem;
            margin-top: 2rem;
            padding: .5rem;
            border-radius: 40px;
            
            span {
                width: 1.875rem;
                height: 1.875rem;
                display: grid;
                place-items: center;
                border-radius: 100%;
                // border: 1px solid #000;
                &:hover {
                    background-color: rgba($color: var(--dark-grey), $alpha: 0.1);
                    svg {
                        path {
                            stroke: var(--text-grey);
                        }
                    }
                }
                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
            .selected {
                background-color: $primary-color;
                pointer-events: none;
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }

    .bottomMenu {
        margin-top: auto;
    }
}